$logoColor: #2c2f3c;
$underlineColor: #14a0c7;
$bgImagePath: url('../img/m-h-day.jpg');
$logoFont: 'Hind', sans-serif;
$headerFont: 'Source Sans Pro', sans-serif;
$buttonColor: #699900;
$fromGradientColor: #679708;
$toGradientColor: #2f5dce;
$bgBodyColor: white;
$footerColor: #21232e;

$logoFont300: (
  family: ('Hind', sans-serif),
  weight: 300,
);

$logoFont600:  (
  family: ('Hind', sans-serif),
  weight: 600,
  color: #2c2f3c
);